body {
    margin: 0;
    padding:0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #333;
}

.spinner-container {
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner-container span {
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2.5px;
}


.spinner-container::before {
    content: '';
    background: lightblue;
    display: block;
    height: 25px;
    width: 25px;
    position: absolute;
    top:0;
    left: 0;
    border-radius: 50%;
    transform-origin: 50px 50px;
    animation: spinaround 1.5s linear infinite;
}
.spinner-container::after {
    content: '';
    background: lightblue;
    display: block;
    height: 25px;
    width: 25px;
    position: absolute;
    top:0;
    left: 0;
    border-radius: 50%;
    transform-origin: 50px 50px;
    animation: spinaround 1.5s 200ms linear infinite;
}

@keyframes spinaround { 
    0% { 
        transform: rotate(0deg);
    } 
    50% { 
        transform: rotate(180deg);
     } 
    100% { 
        transform: rotate(360deg);
     } 
}