:host
  display: flex
  justify-content: center
  align-items: center
  height: 100%
  width: 100%

  .form-container
    display: flex
    flex-direction: column
    justify-content: center
    box-sizing: border-box
    background: var(--bg-login)
    box-shadow: .5rem .5rem 1rem black
    padding: 0 40%
    position: fixed
    width: 100%
    height: 100%
    top: 0
    bottom: 0
    left: 0
    right: 0
    backdrop-filter: blur(.5rem)
    z-index: 433

    form
      width: 100%
      display: flex
      flex-direction: column
      justify-content: center

      > *
        display: inline-block

      svg
        height: 5rem
        margin-bottom: 1.5rem
        filter: grayscale(100%) opacity(0.7)
        color: var(--icon-background)

      label
        margin-bottom: .4rem

      input
        width: 100%
        padding: .5rem .5rem .5rem 2.5rem
        border: 1px solid #ccc
        border-radius: 1rem
        box-sizing: border-box
        outline: none
        margin-bottom: .5rem
        background: var(--bg-login)
        color: currentColor

      button[type=submit]
        border: 1px solid white
        background: var(--bg-login)
        color: currentColor
        width: 100%
        padding: .5rem
        border-radius: 1rem
        outline: none
        cursor: pointer
        text-transform: uppercase
        letter-spacing: .3rem
        margin-top: 2rem

      .login-input
        position: relative
        &:before
          content: ''
          filter: grayscale(100%) opacity(0.7)
          border-top-left-radius: 1rem
          border-bottom-left-radius: 1rem
          border: 1px solid #ccc
          position: absolute
          left:0
          top:0
          width: 2.125rem
          height: 2.125rem
          z-index: 2
          box-sizing: border-box
          background-position: center
          background-repeat: no-repeat
          background-size: 1.2rem
        &.login-password
           &:before
              $bg: '%23df49a6'
              background-image: url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="key" class="svg-inline--fa fa-key fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#{$bg}" d="M512 176.001C512 273.203 433.202 352 336 352c-11.22 0-22.19-1.062-32.827-3.069l-24.012 27.014A23.999 23.999 0 0 1 261.223 384H224v40c0 13.255-10.745 24-24 24h-40v40c0 13.255-10.745 24-24 24H24c-13.255 0-24-10.745-24-24v-78.059c0-6.365 2.529-12.47 7.029-16.971l161.802-161.802C163.108 213.814 160 195.271 160 176 160 78.798 238.797.001 335.999 0 433.488-.001 512 78.511 512 176.001zM336 128c0 26.51 21.49 48 48 48s48-21.49 48-48-21.49-48-48-48-48 21.49-48 48z"></path></svg>')
        &.login-email
           &:before
              $bg: '%23df49a6'
              background-image: url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="envelope" class="svg-inline--fa fa-envelope fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#{$bg}" d="M464 64H48C21.49 64 0 85.49 0 112v288c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V112c0-26.51-21.49-48-48-48zm0 48v40.805c-22.422 18.259-58.168 46.651-134.587 106.49-16.841 13.247-50.201 45.072-73.413 44.701-23.208.375-56.579-31.459-73.413-44.701C106.18 199.465 70.425 171.067 48 152.805V112h416zM48 400V214.398c22.914 18.251 55.409 43.862 104.938 82.646 21.857 17.205 60.134 55.186 103.062 54.955 42.717.231 80.509-37.199 103.053-54.947 49.528-38.783 82.032-64.401 104.947-82.653V400H48z"></path></svg>')





