<table>
  <tr *ngFor="let entity of entities; index as index">
    {{entity.orgId}}
    <td>
      <editable [attr.index]="index" (update)="updateField(index, 'orgId')">
        <ng-container *viewMode>{{getControl(index, 'orgId').value}}</ng-container>
        <input *editMode [formControl]="getControl(index, 'orgId')">
      </editable>
    </td>
    <td>
      <editable [attr.index]="index" (update)="updateField(index, 'bgbk')">
        <ng-container *viewMode>{{getControl(index, 'bgbk').value}}</ng-container>
        <input *editMode [formControl]="getControl(index, 'bgbk')">
      </editable>
    </td>
    <td>
      <editable [attr.index]="index" (update)="updateField(index, 'orderNo')">
        <ng-container *viewMode>{{getControl(index, 'orderNo').value}}</ng-container>
        <input *editMode [formControl]="getControl(index, 'orderNo')">
      </editable>
    </td>
    <td>
      <button (click)="toggleEditMode(index)">Stift</button>
    </td>
    <td>
      <button type="submit" [disabled]="!getFormGroup(index).valid" (click)="save(index)">Save</button>
    </td>
  </tr>
</table>
