.event-grid
  display: grid
  grid-template-columns: repeat(auto-fill,minmax(250px, 1fr))
  grid-auto-rows: 400px
  column-gap: 2rem
  height: 100%
  width: 100%
  padding: 1rem
  box-sizing: border-box

  .event
    border: 1px solid white
    background: var(--bg-nav)
    display: flex
    flex-direction: column
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)

    .event-pic
      flex: 0 0 50%

      img
        width: 100%

    .event-content
      padding: 1rem
      color: var(--text)
      display: flex
      flex-direction: column
      height: 100%

      button
        border: 1px solid var(--icon-background)
        background: var(--bg-login)
        color: currentColor
        width: 60%
        padding: 0.5rem
        outline: none
        cursor: pointer
        text-transform: uppercase
        letter-spacing: 0.3rem
        font-size: .8rem
        margin-top: 2rem
        transition: all 400ms
        filter: grayscale(100%) opacity(0.7)
        margin-top: auto

        &:hover
          filter: grayscale(0%) opacity(1)
