.gallery
  display: grid
  grid-gap:1rem
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr))
  grid-auto-rows: 240px

.card
  background-repeat: no-repeat
  background-size: cover
  font-size: 3rem
  display: flex
  align-items: center
  justify-content: center
  color: darkgrey

