
.grid-container
  display: grid
  width: 100%
  height: 100%
  color: var(--text)
  background: var(--bg)
  transition: background 500ms ease-in-out, color 1000ms ease-in-out

header
  grid-area: header
  background: var(--bg-nav)
  clip-path: polygon(50% 0, 100% 0, 100% 65%, 50% 100%, 0% 65%, 0% 0%)
  display: flex
  align-items: center
  justify-content: center

  img
    height: 80%
    &:hover
      animation: color-rotate 1s infinite alternate

@keyframes color-rotate
  0%
    filter: hue-rotate(0deg)
  100%
    filter: hue-rotate(360deg)

main
  grid-area: main

footer
  grid-area: footer

body
  margin: 0
  padding: 0
  color: var(--text)
  background: var(--bg)
  transition: background 500ms ease-in-out, color 1000ms ease-in-out

.navigation
  grid-area: nav
  z-index: 22

.gallery-grid
  display: grid
  gap: 1rem
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr))
  grid-auto-rows: 240px

@media only screen and (max-width: 600px)
  .grid-container
    grid-template-areas: "header" "main" "nav"
    grid-template-rows: 7rem 1fr 5rem
    grid-template-columns: 1fr

  main
    margin: 0

@media only screen and (min-width: 600px)
  .grid-container
    grid-template-areas: "nav header" "nav main" "nav footer"
    grid-template-rows: 10rem 1fr 5rem
    grid-template-columns: 5rem 1fr
